<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-pagehelper-work:war exploded">
    <output-path>$PROJECT_DIR$/springboot-pagehelper-work/target/springboot-pagehelper-work</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-pagehelper-work" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot-pagehelper-work/target/springboot-pagehelper-work/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-pagehelper-work/web/Web" />
    </root>
  </artifact>
</component>